@model IEnumerable<Product>

<div class="mt-5">
  <h6 class="display-6 border-bottom text-center">
    Products
  </h6>
</div>
<div class="row">
  @foreach (var prd in Model)
  {
    <div class="col-md-3 my-3">
      <div class="card" style="width: 18rem;">
        @* <img class="card-img-top" src="@prd.ImageUrl" alt="Card images cap"> *@
        <div class="card-body">
          <h5 class="card-title">@prd.ProductName</h5>
          <p class="card-text">@prd.Price</p>
          <a asp-action="Update" 18rem asp-controller="Produt" asp-route-id="@prd.ProductId" class="btn btn-secondary">
            Edit
          </a>
        </div>
        <div class="card-footer">
          <div class="d-flex justify-content-between">
            <div class="form-check form-switch">
              <input type="hidden" name="productId" 18rem value="@prd.ProductId" 18rem />
              <input class="form-check-input" 18rem type="checkbox" id="flexSwitchCheckDefault" checked="@prd.ShowCase"
                18rem disabled />
                <label for="flexSwitchCheckDefault" class="form-check-label">Showcase</label>
            </div>
          </div>
        </div>
      </div>
    </div>
  }
</div>